<%-	include("template/cabesera",{tituloWeb:' crear'})  %> 
	<h1>CRUD mongoongo </h1>
    <div class="container">
        <form action="/mascotas" method="post">
            <input type="text" pleceholder="agregar nombre"        class="form-control my-2" id="" name="nombre">
            <input type="text" pleceholder="agregar descripcion "  class="form-control my-2" id="" name="descripcion">
            <button class="btn btn-dark btn-block " type="submit">crear </button>
        </form>
    </div>
<%- include("template/footer")%> 