<%-	include("template/cabesera",{tituloWeb:'pagina de inicio '})  %> 

	<h1 class="text-primary">el titulo del index etc etc...</h1>
	<h2> hola esto esta jalando <%=titulo%> </h2>	 <!--? //talves el tipo intalo una extencion de ejs para que no mostrara error y  yo tambien jeje -->
<%- include("template/footer")%> 
